[package]
name = "raft"
version = "0.5.0"
authors = ["The TiKV Project Developers"]
license = "Apache-2.0"
keywords = ["raft", "distributed-systems", "ha"]
repository = "https://github.com/pingcap/raft-rs"
readme = "README.md"
homepage = "https://github.com/pingcap/raft-rs"
documentation = "https://docs.rs/raft"
description = "The rust language implementation of Raft algorithm."
categories = ["algorithms", "database-implementations"]
build = "build.rs"

[build-dependencies]
protoc-rust = "2.2.4"
protoc-grpcio = "0.3.1"
regex = "1.1"

[features]
default = ["lib-rust-protobuf"]
lib-rust-protobuf = ["protobuf"]
regenerate = []
failpoint = ["fail"]

[dependencies]
log = ">0.2"
protobuf = { version = "~2.0-2.2", optional = true }
quick-error = "1.2.2"
rand = "0.5.4"
hashbrown = "0.1"
fail = { version = "0.2", optional = true }
getset = "0.0.6"

[dev-dependencies]
env_logger = "0.5"
criterion = ">0.2.4"
lazy_static = "1.0"

[[bench]]
name = "benches"
harness = false

[badges]
travis-ci = { repository = "pingcap/raft-rs" }

[[example]]
name = "single_mem_node"
path = "examples/single_mem_node/main.rs"
