[package]
name = "raft"
version = "0.4.3"
authors = ["The TiKV Project Developers"]
license = "Apache-2.0"
keywords = ["raft", "distributed-systems", "ha"]
repository = "https://github.com/pingcap/raft-rs"
readme = "README.md"
homepage = "https://github.com/pingcap/raft-rs"
documentation = "https://docs.rs/raft"
description = "The rust language implementation of Raft algorithm."
categories = ["algorithms", "database-implementations"]
edition = "2018"

[workspace]
members = ["proto"]

[features]
default = ["protobuf-codec"]
protobuf-codec = ["raft-proto/protobuf-codec"]
prost-codec = ["prost-derive", "bytes", "lazy_static", "raft-proto/prost-codec"]
# Enable failpoints
failpoint = ["fail"]

[dependencies]
log = ">0.2"
lazy_static = { version = "1.3.0", optional = true }
prost = { git = "https://github.com/danburkert/prost", rev = "1944c27c3029d01ff216e7b126d846b6cf8c7d77" }
prost-derive = { git = "https://github.com/danburkert/prost", rev = "1944c27c3029d01ff216e7b126d846b6cf8c7d77", optional = true }
protobuf = "2"
bytes = { version = "0.4.11", optional = true }
quick-error = "1.2.2"
rand = "0.5.4"
fxhash = "0.2.1"
raft-proto = { path = "proto", default-features = false }
fail = { version = "0.2", optional = true }

[dev-dependencies]
env_logger = "0.5"
criterion = ">0.2.4"
lazy_static = "1.0"
regex = "1.1"

[[bench]]
name = "benches"
harness = false

[badges]
travis-ci = { repository = "pingcap/raft-rs" }

[[example]]
name = "single_mem_node"
path = "examples/single_mem_node/main.rs"
